body{
    display: inline-block;
}
img{
    border-radius: 15px;
}
#partida{
    display: flex;
}
#divTornar{
    background-image: url("./imatges/basura_tencada.png");
    height: 285px;
    width: 222px;
}
#divTornar:hover{
    background-image: url("./imatges/basura_oberta.png");
}
.mans{
    display: flex;
    height: 235px;
    width: 453px;
    margin-top: 150px;
    margin-right: 200px;
    margin-left: 200px;
}
.cossos{
    display: flex;
    height: 235px;
    width: 604px;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 200px;
}
.cossos .cartaCos:nth-child(1),.cartaCos:nth-child(2),.cartaCos:nth-child(3),.cartaCos:nth-child(4) {
    border: black 1px solid;
    height: 235px;
    width: 150px;
    margin: 5px;
}
.cossos .cartaCos .carta:nth-child(2){
    transform: translateY(-170px);
}
.cossos .cartaCos .carta:nth-child(3) {
    transform: translateY(-370px);
}
.jugadorsDiv .mans .carta:nth-child(1) {
    rotate: -25deg;
    transform: translateX(20px);
}
.jugadorsDiv .mans .carta:nth-child(1):hover {
    transform: translateY(-40px);
}

.jugadorsDiv .mans .carta:nth-child(2) {
    z-index: 2;
    transform: translateY(-40px);
}
.jugadorsDiv .mans .carta:nth-child(2):hover {
    transform: translateY(-70px);
}

.jugadorsDiv .mans .carta:nth-child(3) {
    rotate: 25deg;
    transform: translateX(-20px);
    z-index: 3;
}
.jugadorsDiv .mans .carta:nth-child(3):hover {
    transform: translateY(-40px);
}
.jugadorsDiv .mans .carta{
    transition: transform 0.4s ease-in-out;
}
.jugadorsDiv{
    border: black 1px solid;
}