img{
    border-radius: 15px;
}
#divTornar{
    background-image: url("./imatges/basura_tencada.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 175px;
    width: 150px;
    margin-left: 200px;
}
#divTornar:hover{
    background-image: url("./imatges/basura_oberta.png");
}
.mans{
    display: flex;
    height: 235px;
    width: 453px;
}
.cossos{
    display: flex;
    height: 235px;
    width: 604px;
}
.cossos .cartaCos:nth-child(1),.cartaCos:nth-child(2),.cartaCos:nth-child(3),.cartaCos:nth-child(4) {
    border: black 1px solid;
    height: 235px;
    width: 150px;
    margin: 5px;
}
.cossos .cartaCos .carta:nth-child(2){
    transform: translateY(-170px);
}
.cossos .cartaCos .carta:nth-child(3) {
    transform: translateY(-370px);
}
.jugadorsDiv{
    display: flex;
}
.jugadorsDiv .mans .carta:nth-child(1) {
    rotate: -25deg;
    transform: translateX(20px);
}
.jugadorsDiv .mans .carta:nth-child(1):hover {
    transform: translateY(-40px);
}

.jugadorsDiv .mans .carta:nth-child(2) {
    z-index: 2;
    transform: translateY(-40px);
}
.jugadorsDiv .mans .carta:nth-child(2):hover {
    transform: translateY(-70px);
}

.jugadorsDiv .mans .carta:nth-child(3) {
    rotate: 25deg;
    transform: translateX(-20px);
    z-index: 3;
}
.jugadorsDiv .mans .carta:nth-child(3):hover {
    transform: translateY(-40px);
}
.jugadorsDiv .mans .carta{
    transition: transform 0.4s ease-in-out;
}
.jugadorsDiv{
    border: black 1px solid;
}
#divJUGADOR{
    color: rgba(82, 206, 78, 0.38);
}
#cosJUGADOR{
    margin-left: 200px;
}
#maJUGADOR{
    margin-top: 25px;
    margin-left: 10px;
}
#maNPC{
    margin-top: 25px;
    margin-left: 150px;
}
#divNPC{
    margin-top: 10px;
    color: rgba(127, 255, 212, 0.66);
}
#franjaMitja{
    display: flex;
    height: 175px;
}
#començar{
    margin-top: 100px;
    margin-left: 150px;
    height: 30px;
    width: 100px;
}